<h1><%= @category.name %></h1>

<p><%= @category.description %></p>

<p>
  <%= link_to "Back to All Categories", categories_path %>
</p>

<% if @products.any? %>
  <div class="products">
    <%= render @products %>
  </div>
<% else %>
  <p>No products are available in this category.</p>
<% end %>